<p id="notice"><%= notice %></p>

<p>
  <strong>Line Item</strong>
  <ul>
    <% @line_item.attributes.each do |pair|  %>
      <li><%= pair %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Product</strong>
  <ul>
    <% @line_item.product.attributes.each do |pair| %>
      <li><%= pair %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Cart:</strong>
  <ul>
    <% @line_item.cart.attributes.each do |pair| %>
      <li><%= pair %></li>
    <% end %>
  </ul>
</p>

<p>
  <ul>
    <strong>Params:</strong>
      <li><%= params %></li>
    <strong>Session:</strong>
      <li><%= session %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
