<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>The Shop is Open</h1>

<% if @counter > 5 %>
  <p>You've visited <%= pluralize(@counter, 'time') %> without adding to your cart</p>
<% end %>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <%cache product do %>
        <li>
          <%= link_to image_tag(product.image_url),
                      line_items_path(product_id: product),
                      method: :post,
                      remote: true
            %>

          <% if product.eql?(@updated_item) %>
            <h2 class="line-item-highlight"><%= product.title %></h2>
          <% else %>
            <h2><%= product.title %></h2>
          <% end %>

          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product),
                                          remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
